@model NoticiasMVC.Models.Clasificaciones

@{
    ViewData["Title"] = "Crear Clasificaciones";
}

<div class="row">
    <div class="col-12">
        <h4>@ViewData["Title"]</h4>
    </div>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i> Registro de Clasificaciones
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <label class="form-label" asp-for="NombreClasificacion"></label>
                            <input asp-for="NombreClasificacion" class="form-control"
                            placeholder="Ingresa el nombre de la Clasificacion"/>
                            <span class="text-danger" asp-validation-for="NombreClasificacion"></span>
                        </div>

                        <div class="col-12">
                            <label class="form-label" asp-for="DescripcionClasificacion"></label>
                            <textarea asp-for="DescripcionClasificacion" class="form-control" id="descripcion" rows="5"></textarea>
                            <span class="text-danger" asp-validation-for="DescripcionClasificacion"></span>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-edit"></i> Agregar
                    </button>

                    <a class="btn btn-danger" type="button" asp-action="Index">
                        <i class="fa fa-rotate-back"></i> Cancelar
                    </a>
                </div> 
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        tinymce.init({
            selector: '#descripcion',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
                'alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
        });
    </script>
}
