@model NoticiasMVC.ViewModels.DashboardView

@{
    ViewData["Title"] = "Dashboard";
}

<h3 class="mt-4">Dashboard</h3>

<div class="row mb-3">
    <!--tarjeta total de noticias-->
    <div class="col-lg-3 col-sm-12">
        <div class="row p-2">
            <div class="col-12 shadow bg-primary rounded-3">
                <div class="row align-items-center">
                    <div class="col-3 p-3 text-white">
                        <i class="fa-solid fa-newspaper fs-1 opacity-75"></i>
                    </div>

                    <div class="col-9 p-3 text-white fs-4">
                        <div class="text-xs fw-bold text-uppercase mb-1">
                            Noticias
                        </div>

                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.TotalNoticias
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--tarjeta total categorías-->
    <div class="col-lg-3 col-sm-12">
        <div class="row p-2">
            <div class="col-12 shadow bg-success rounded-3">
                <div class="row align-items-center">
                    <div class="col-3 p-3 text-white">
                        <i class="fa-solid fa-list fs-1 opacity-75"></i>
                    </div>

                    <div class="col-9 p-3 text-white fs-4">
                        <div class="text-xs fw-bold text-uppercase mb-1">
                            Categorías
                        </div>

                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.TotalCategorias
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--tarjeta total clasificaciones -->
    <div class="col-lg-3 col-sm-12">
        <div class="row p-2">
            <div class="col-12 shadow bg-danger rounded-3">
                <div class="row align-items-center">
                    <div class="col-3 p-3 text-white">
                        <i class="fa-solid fa-globe fs-1 opacity-75"></i>
                    </div>
                    <div class="col-9 p-3 text-white fs-4">
                        <div class="text-xs fw-bold text-uppercase mb-1">
                            Clasificaciones
                        </div>

                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.TotalClasificaciones
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--tarjeta total usuarios-->
    <div class="col-lg-3 col-sm-12">
        <div class="row p-2">
            <div class="col-12 shadow bg-secondary rounded-3">
                <div class="row align-items-center">
                    <div class="col-3 p-3 text-white">
                        <i class="fa-solid fa-users fs-1 opacity-75"></i>
                    </div>

                    <div class="col-9 p-3 text-white fs-4">
                        <div class="text-xs fw-bold text-uppercase mb-1">
                            Usuarios
                        </div>

                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.TotalUsuarios
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Final de tarjetas con totales-->

<div class="row">
    <div class="col-lg-6 col-xs-12">
        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 fw-bold text-primary">Noticias por Categoría</h6>
            </div>
            <div class="card-body">
                <canvas width="100" height="100" id="graficaCategorias"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xs-12">
        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 fw-bold text-primary">Noticias por Clasificación</h6>
            </div>
            <div class="card-body">
                <canvas width="100" height="100" id="graficaClasificaciones"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/chart.min.js"></script>

    <script>
        $(document).ready(function () {
            graficaCategorias();
            graficaClasificaciones();
        });

        const graficaCategorias = () => {
            $.ajax({
                url: '/dashboard/GraficaCategorias',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    const LienzoGrafica = document.getElementById('graficaCategorias');

                    const dataJson = data;
                    let graficaLabel = [];
                    let total = [];
                    let colorPastel = []
                    let colorBordePastel = [];

                    dataJson.forEach(categoria => {
                        let color1 = Math.floor(Math.random() * 54) + 1;
                        let color2 = Math.floor(Math.random() * 162) + 1;
                        let color3 = Math.floor(Math.random() * 255) + 1;

                        graficaLabel.push(categoria.categoria);
                        total.push(categoria.total);
                        colorPastel.push('rgba(' + color1 + ', ' + color2 + ', ' + color3 + ', 0.2)');
                        colorBordePastel.push('rgba(' + color1 + ', ' + color2 + ', ' + color3 + ', 1)');
                    });

                    const grafica = {
                        label: 'Top 10 de Noticias por categoria',
                        data: total,
                        backgroundColor: colorPastel,
                        borderColor: colorBordePastel,
                        borderWidth: 1,
                    };

                    new Chart(LienzoGrafica, {
                        type: 'doughnut',// Tipo de gráfica
                        data: {
                            labels: graficaLabel,
                            datasets: [
                                grafica,
                            ]
                        },
                        options: {
                            scales: {
                                y: {
                                    display: false,
                                },
                                x: {
                                    display: false,
                                },
                            },
                        }
                    });
                },
                error: function () {
                    console.log('Error al recibir los datos')
                }
            });
        }

        const graficaClasificaciones = () => {
            $.ajax({
                url: '/dashboard/GraficaClasificaciones',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    const LienzoGrafica = document.getElementById('graficaClasificaciones');

                    const dataJson = data;
                    let graficaLabel = [];
                    let total = [];
                    let colorPastel = []
                    let colorBordePastel = [];

                    dataJson.forEach(clasificacion => {
                        let color1 = Math.floor(Math.random() * 54) + 1;
                        let color2 = Math.floor(Math.random() * 162) + 1;
                        let color3 = Math.floor(Math.random() * 255) + 1;

                        graficaLabel.push(clasificacion.clasificacion);
                        total.push(clasificacion.total);
                        colorPastel.push('rgba(' + color1 + ', ' + color2 + ', ' + color3 + ', 0.2)');
                        colorBordePastel.push('rgba(' + color1 + ', ' + color2 + ', ' + color3 + ', 1)');
                    });

                    const Grafica = {
                        label: 'Top 10 Noticias Por Clasificacón',
                        data: total,
                        backgroundColor: colorPastel,
                        borderColor: colorBordePastel,
                        borderWidth: 1,
                    };


                    new Chart(LienzoGrafica, {
                        type: 'bar',// Tipo de gráfica
                        data: {
                            labels: graficaLabel,
                            datasets: [
                                Grafica,
                            ]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                },
                            },
                        }
                    });
                },
                error: function () {
                    console.log('Error al recibir los datos')
                }
            });
        }

    </script>
}