@model NoticiasMVC.Models.Categorias

@{
    ViewData["Title"] = "Edit Categorias";
}

<div class="row">
    <div class="col-12">
        <h4>@ViewData["Title"]</h4>
    </div>

    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="IdCategoria" hidden />
        <input asp-for="ImagenCategoria" hidden />
        
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i> Actualización de Categorias
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <label class="form-label" asp-for="NombreCategoria"></label>
                            <input asp-for="NombreCategoria" class="form-control"
                                   placeholder="Ingresa el nombre de la categoria" />
                            <span class="text-danger" asp-validation-for="NombreCategoria"></span>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <label class="form-label" asp-for="ImagenCategoria"></label>
                            <input type="file" name="files" id="uploadBox" class="form-control" />
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <label class="form-label" asp-for="DescripcionCategoria"></label>
                            <textarea asp-for="DescripcionCategoria" class="form-control" id="descripcion" rows="5"></textarea>
                            <span class="text-danger" asp-validation-for="NombreCategoria"></span>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <label class="form-label">Imagen Actual</label>   
                            <img src="@WebConst.CategoriasPath/@Model.ImagenCategoria" 
                            style="width: 100%; border-radius: 5px; border: 1px solid #bbb" />
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-edit"></i> Actualizar
                    </button>

                    <a class="btn btn-danger" type="button" asp-action="Index">
                        <i class="fa fa-rotate-back"></i> Cancelar
                    </a>
                </div>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Error',
                    'Se debe de adjuntar una imagen',
                    'error'
                )
            }
        }
    </script>

    <script>
        tinymce.init({
            selector: '#descripcion',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
                'alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
        });
    </script>
}